<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Wings by TerraGenesis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Green Wings by TerraGenesis</h1>
        <p>The Green Wings drone disperses seeds in remote areas to combat deforestation. It aligns with sustainable goals by promoting reforestation efforts.</p>
    </header>
    <main>
        <section id="company-members">
            <h2>Company Members</h2>
            <ul>
                <li>CEO: Aania S.Mir</li>
                <li>COO: Daivik Suri</li>
                <li>Sales Head: Kabeer Juneja</li>
                <li>Manufacturing Head: Kabir Chawla</li>
            </ul>
        </section>
        <section id="buttons">
            <a href="/video"><button>View 3D Model Video</button></a>
            <a href="https://www.instagram.com/terragenesis_rk?igsh=MTd1aWRuY2QyNzJndg%3D%3D&utm_source=qr"><button>Instagram Page</button></a>
            <a href="/track"><button>Track Drone</button></a>
        </section>
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<hr>
  <div class="loop-wrapper">
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
  </div> </hr>
</body>
</html>
