<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Model Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>3D Model Video</h1>
    </header>
    <main>
        <video controls autoplay>
            <source src="{{ url_for('static', filename='screen-capture.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <a href="/"><button>Back to Home</button></a>
    </main>
</body>
</html>
